$dark: #152222;
$grey: #998f8f;
$white: #ffffff;
$color: #ffac00;
$red: #9d121b;
$light: #243f3f;

$spinner1: #f2542d;
$spinner2: #ff9700;

$font: 'Noto Sans SC', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
